p {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    padding: 10px;
}

p.esquerda {
    text-align: left;
    background-color: #ffe5e5;
}

p.centro {
    text-align: center;
    background-color: #e5ffe5;
}

p.direita {
    text-align: right;
    background-color: #e5e5ff;
}
